<div class="container-fluid vh-100 bg-white wrapper">
    <div class="container bg-white rounded shadow-sm item p-5">
        <h3 class="text-center"><b>Login</b></h3>
        <form>
            <div class="my-3">
                <label>Username</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="my-3">
                <label>Password</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="text-end">
                <a class="link-primary linkCustom" routerLink="/register">New to ENTER? Register here</a>
            </div>
            <div class="my-3 text-center">
                <button type="submit" class="btn btn-success">Sign in</button>
            </div>
        </form>
    </div>
</div>