.text-area{
    border: none;
    caret-color: grey;
    resize: none;
    font-size: 1em;
}

.text-area:focus{
    border: none;
    box-shadow: none;
}

.block-manager{
    width: 30px;
    height: 30px;
    border: 2px rgba(200, 200, 200,0.7) solid;
    color: rgba(200, 200, 200,0.7);
    background-color: white;
    border-radius: 100px;
    float: right;
}

.block-manager:hover{
    color: rgb(255, 107, 107);
    border-color: rgb(255, 107, 107);
}