<div class="container-fluid bg-white post-editor-container min-vh-100">
    <div class="form-group my-3">
        <textarea rows="1" class="form-control title-area" id="post-title" placeholder="Title" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
        <hr>
        <div #mainBody>
        </div>
    </div>
</div>
<div class="container-fluid text-center border sticky-bottom bg-light">
    <div class="tool-bar p-3">
        <div class="tool-wrapper">
            <button class="btn rounded square-sm shadow-sm" (click)="addText($event)"><i class="fa-solid fa-pencil"></i></button>
        </div>
        <div class="tool-wrapper">
            <button class="btn rounded square-sm shadow-sm"><i class="fa-solid fa-bold"></i></button>
        </div>
        <div class="tool-wrapper">
            <button class="btn rounded square-sm shadow-sm"><i class="fa-solid fa-underline"></i></button>
        </div>
        <div class="tool-wrapper">
            <button class="btn rounded square-sm shadow-sm"><i class="fa-solid fa-italic"></i></button>
        </div>
        <div class="tool-wrapper">
            <button class="btn rounded square-sm shadow-sm"><i class="fa-solid fa-strikethrough"></i></button>
        </div>
        <div class="tool-wrapper">
            <button class="btn rounded square-sm shadow-sm"><i class="fa-solid fa-list"></i></button>
        </div>
    </div>
</div>