.square-sm {
    width: 40px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 40px !important;
    position: relative;
    font-size: 15px;
    margin: 0 10px;
    border-radius: 100px;
    background-color: rgb(229, 229, 229);
    color: grey;
}
.square-sm:hover{
    background-color: rgb(65, 65, 65);
    color: white;
}
.square-sm i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.active{
    background-color: rgb(112, 112, 112);
    color: white !important;
}